anyascii
asgiref
beautifulsoup4
certifi
charset-normalizer
click
defusedxml
dj-database-url
Django
django-filter
django-modelcluster
django-permissionedforms
django-stubs-ext
django-taggit
django-tasks
django-treebeard
django-webpack-loader
djangorestframework
draftjs-exporter
et_xmlfile
filetype
gunicorn
h11
idna
laces
openpyxl
packaging
pillow
pillow_heif
psycopg2-binary
requests
soupsieve
sqlparse
telepath
typing_extensions
urllib3
uvicorn
wagtail
wagtailgeowidget
Willow
